{{>layouts/header}}
<form class="container"action="/articles/create" method="post">
    <input type="text" class="form-control"name="title">
    <textarea></textarea>
    <textarea class="form-control" rows="3" name="content"></textarea>

    <button type="submit">제출</button>
</form>
{{>layouts/footer}}
